:root {
  --primary: #569243;
  --secondary: #a9d3b3;
  --accent: #cce0c3;
  --background: #f4f4f4;
  --text: #333;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: var(--background);
  color: var(--text);
  line-height: 1.6;
}

header {
  background: var(--primary);
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

p{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 1rem; 
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background-color: var(--secondary); 
  color: white;
  text-decoration: none;
  border-radius: 6px; 
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

nav a:hover {
  background-color: var(--accent); 
  transform: scale(1.05); 
}

section {
  padding: 2rem;
}

.projects-container {
  display: flex;              
  gap: 1.5rem;                
  justify-content: center;    
  flex-wrap: wrap;            
}

.project-card {
  flex: 1 1 250px;            
  max-width: 300px;           
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background: white;
  transition: transform 0.3s ease;
}

.project-card img {
  width: 100%;          
  height: auto;         
  border-radius: 6px;   
  display: block;       
}


.project-card:hover {
  transform: translateY(-5px); 
  border-color: var(--secondary);
}


/* Footer */
footer {
  background: var(--primary);
  color: white;
  text-align: center;
  padding: 1rem;
}

footer a {
  color: var(--secondary);
  transition: color 0.3s ease;
}

footer a:hover {
  color: var(--accent);
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
