* {box-sizing: border-box;}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: burlywood;
    margin: 40px;
    padding: 15px;
}
.card{
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: darkolivegreen;
    border: 5px;
    border-color: whitesmoke;
}
.card h1{
    color: whitesmoke;
    font-size: 2em;
    margin: 0 auto;
}
.card p{
    color: whitesmoke;
    font-size: 1em;
    margin: 0 auto;
}